# Example of environment configuration file.
# Copy this file to .env and replace with the actual credentials from the Aiven platform.
# DATABASE_URL=postgresql+psycopg://user:password@host:port/dbname?sslmode=require

DATABASE_URL=postgresql+psycopg://user:password@host:port/defaultdb?sslmode=require
